<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
		 id="WebApp_ID" version="5.0">
    <display-name>LB5jaxwsBookServiceWebClient</display-name>
    <context-param>
        <description>Wsdl location</description>
        <param-name>wsdl</param-name>
        <param-value>http://localhost:9000/books?wsdl</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <display-name>EncodingFilter</display-name>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.nure.book.server.filter.EncodingFilter</filter-class>
        <init-param>
            <description/>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>ua.nure.book.server.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <description>List existing articles</description>
        <display-name>ListBooks</display-name>
        <servlet-name>ListBooks</servlet-name>
        <servlet-class>ua.nure.book.server.client.web.ListBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBooks</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddBook</display-name>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>ua.nure.book.server.client.web.AddBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DeleteBook</display-name>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>ua.nure.book.server.client.web.DeleteBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>EditBook</display-name>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>ua.nure.book.server.client.web.EditBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/editBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TakeBook</display-name>
        <servlet-name>TakeBook</servlet-name>
        <servlet-class>ua.nure.book.server.client.web.TakeBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TakeBook</servlet-name>
        <url-pattern>/takeBook</url-pattern>
    </servlet-mapping>
</web-app>